Source: libbgpstream2
Section: libs
Priority: optional
Maintainer: CAIDA Software Maintainer <software@caida.org>
Build-Depends: debhelper (>= 10), autotools-dev,
 libwandio1-dev (>=4.2.0), librdkafka-dev (>=0.11.3),
 zlib1g-dev, libbz2-dev, libcurl4-openssl-dev
Standards-Version: 4.1.2
Homepage: https://bgpstream.caida.org

Package: bgpstream
Architecture: any
Section: libdevel
Depends: bgpstream2-tools (=${binary:Version}),
 libbgpstream2-dev (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Meta package for full libbgpstream install
 Meta package for latest libbgpstream library, development environment, and
 command-line tools.
 .
 BGPStream: An open-source software framework for live and historical BGP data
 analysis, supporting scientific research, operational monitoring, and
 post-event analysis.

Package: bgpstream2-tools
Architecture: any
Section: libs
Depends: libbgpstream2 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: example tools for libbgpstream2 library
 Command-line tools for obtaining and processing BGP data using BGPStream
 .
 BGPStream: An open-source software framework for live and historical BGP data
 analysis, supporting scientific research, operational monitoring, and
 post-event analysis.

Package: libbgpstream2
Architecture: any
Section: libs
Depends: libwandio1 (>=4.2.0), librdkafka-dev (>=0.11.3), ${shlibs:Depends},
 ${misc:Depends}
Description: Software framework for live and historical BGP data analysis
 BGPStream: An open-source software framework for live and historical BGP data
 analysis, supporting scientific research, operational monitoring, and
 post-event analysis.

Package: libbgpstream2-dev
Architecture: any
Section: libdevel
Depends: libbgpstream2 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Development environment for libbgpstream2
 Development headers and shared libraries for the libbgpstream2 library.
 .
 BGPStream: An open-source software framework for live and historical BGP data
 analysis, supporting scientific research, operational monitoring, and
 post-event analysis.
